@charset "UTF-8";
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #188447a1;
    color: white;
    padding: 20px;
    text-align: center;
}

header .logo img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 2rem;
    margin: 10px 0;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #188447a1;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #015507;
    font-weight: bold;
}

#impacto, #como-ayudar, #contacto, #compartir_coche, #encontrar_coche, #r.entrega{
    padding: 2em;
    margin: 1em 2em;
    background-color: #e8e8e8;
    border-radius: 5px;
    
}
#ver_soli {
    padding: 2em;
    margin: 1em 2em;
    background-color: #e8e8e8; /* Matches the background */
    border-radius: 5px;
    text-align: center; /* Center the text */
    font-weight: bold; /* Makes text bold for emphasis */
    font-size: 1.1em; /* Adjust font size to match */
    color: black; /* Ensure the text color is black */
}


#noticias_falsas, #Donativos {
    padding: 2em;
    margin: 1em 2em;
    background-color: #f9a67a;
    border-radius: 5px;
}

#quienes-somos {
    display: flexbox;
    padding: 1em;
    margin: 2em auto;
    background-color: #e9a079;
    border-radius: 15px;
    border: 2px solid #863e18;
    max-width: 700px;
    text-align: center;
    position: relative;
    left: 1%;
}

#contenedor1, #contenedor2, #contenedor3, #contenedor4, #contenedor5, #contenedor6 {
    display: inline-block;
    padding: 2em;
    margin: 1em 2em;
    background-color: rgb(149, 238, 186);
    border-radius: 10px;
    width: 200px;
    height: 160px;
}

#contenedor3, #contenedor4 {
    background-color: rgb(237, 76, 106);
}

#contacto {
    background-color: #188447a1;
    color: #fff;
}

#link_titulo {
    color: black;
    pointer-events: stroke;
    text-decoration: none;
}

#pie {
    color: white;
}

h2 {
    color: black;
}

.btn {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
}

.contenedor-principal {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.contenedor-ong {
    width: 45%;
    margin-bottom: 20px;
}

